.footer{
    padding-top: 41px;
    padding-bottom: 33px;
    border-top: 1px solid #D8E5D4;
}

.footer__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer__container_image{

}

.footer__container_rights{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #636E74;
    margin-top: 20px;
}

@media only screen and (max-width: 720px){
    .footer__container_image{
        width: 277px;
    }
}