/*HEADER*/

.header{
    width: 100%;
    background-color: #FAF9FF;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 999999;
}

@keyframes show_header {
    0%{
        opacity: 0;
        top: -70%;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}

.header_fixed{
    position: fixed;
    top: 0;
    left: 0;
    animation-name: show_header;
    animation-duration: 1s;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.03);
}

.header__container_nav ul li a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #636E74;
}

.header__container_nav ul li{
    display: inline-block;
}

.header__container_nav ul li:not(:first-child){
    margin-left: 60px;
}

/*BURGER MENU STYLE*/
.menu-btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 0;
    z-index:2;
    overflow: hidden;
    display: none;
}
.menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #04151F;
    transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #FFFFFF;
    transform: translateX(-100%);
    transition: transform 0.5s;
    margin-top: 55px;
}
.mobile-menu.active {
    transform: translateX(0);
}
.mobile-menu li {
    list-style-type: none;
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
    display: none;
}
.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.mobile-menu_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    margin-top: 80px;
}

.mobile-menu_button_left{


}

.mobile-menu_button_right{
    width: 100%;
    padding: 0 15px;
    margin-left: 0;
    margin-right: 0;
}

.packages__container__buttons_left-mobile{
    width: 100%;
    padding: 0 15px;
    margin-right: 0;
    margin-left: 0;
    width: 288px;
    height: 63px;
    border: 1.5px solid #435057;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #435057;
}

.packages__container__buttons_right-mobile{
    width: 100%;
    padding: 0 15px;
    margin-right: 0;
    margin-left: 0;
    width: 288px;
    height: 63px;
    background: #3B7F26;
    border-radius: 10px;
    margin-top: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.mobile-menu nav ul li a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #04151F;
}

.mobile-menu nav ul li:not(:first-child){
    margin-top: 57px;
}

.mobile-menu nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-menu nav{
    margin-top: 50px;
}

@media only screen and (max-width: 1196px){
    .header__container_nav{
        display: none;
    }
    .menu-btn {
        display: block;
        right: 210px;
    }
}

@media only screen and (max-width: 1196px){
    .header_fixed{
        /*position: static;*/
    }
}

@media only screen and (max-width: 850px){
    .menu-btn {
        right: 70px;
    }
}

@media only screen and (max-width: 376px){
    .menu-btn {
        right: 25px;
    }
}